* {
  margin: 0px;
  padding: 0px;
}

.recaman-svg {
    width: 100%;
    height: 100%;
}

.recaman-svg-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

    animation-duration: 20s;
    animation-name: animator;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
